.categories {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include onTablet {
    gap: 56px;
  }

  @include onDesktop {
    gap: 56px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      gap: 24px;
    }

    @include onDesktop {
      gap: 24px;
    }
  }

  &__images {
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(4, 1fr);

    @include onTablet {
      grid-template-columns: repeat(8, 1fr);
      gap: 24px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    grid-column: span 2;

    &:first-child {
      @include onTablet {
        grid-column: span 5;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &:last-child {
      @include onTablet {
        grid-column: span 3;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__group:nth-child(1) &__photo {
    aspect-ratio: 280 / 171;

    &:first-child {
      @include onTablet {
        aspect-ratio: 392 / 184;
      }

      @include onDesktop {
        aspect-ratio: 672 / 324;
      }
    }

    &:last-child {
      @include onTablet {
        aspect-ratio: 184 / 184;
      }

      @include onDesktop {
        aspect-ratio: 280 / 171;
      }
    }
  }

  &__group:nth-child(2) &__photo {
    aspect-ratio: 280 / 171;

    &:first-child {
      @include onTablet {
        aspect-ratio: 184 / 184;
        grid-column: span 3;
      }

      @include onDesktop {
        aspect-ratio: 280 / 171;
        grid-column: span 4;
      }
    }

    &:last-child {
      @include onTablet {
        aspect-ratio: 392 / 184;
        grid-column: span 5;
      }

      @include onDesktop {
        aspect-ratio: 672 / 324;
        grid-column: span 8;
      }
    }
  }

  &__group:nth-child(3) &__photo {
    aspect-ratio: 280 / 171;

    &:first-child {
      @include onTablet {
        aspect-ratio: 392 / 184;
      }

      @include onDesktop {
        aspect-ratio: 672 / 324;
      }
    }

    &:last-child {
      @include onTablet {
        aspect-ratio: 184 / 184;
      }

      @include onDesktop {
        aspect-ratio: 280 / 171;
      }
    }
  }

  &__title {
    margin: 0;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: $main-text-color;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    margin-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: $main-text-color;
    color: #F8F8FA;
    border: none;
    border-radius: 8px;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    transition: background-color $effectDuration ease, color $effectDuration ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #F8F8FA;
      color: $main-text-color;
    }

    &:active {
      background-color: $main-text-color;
      color: #111111;
    }

    @include onTablet {
      margin-top: 56px;
    }

    @include onDesktop {
      width: 324px;
      margin-top: 56px;
    }
  }
}
