.header {
  box-sizing: border-box;
  background-image: url(../images/header-bg-mobile.png);
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onTablet {
    background-image: url(../images/header-bg-tablet.png);
  }

  @include onDesktop {
    background-image: url(../images/header-bg-desktop.png);
  }

  &__title {
  margin: 0;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  color: $main-text-color;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 56px;
    }
  }

  &__bottom {
    padding: 40px;
    @include contentPaddingInline;

    @include onTablet {
      padding-bottom: 65px;
    }
        @include onDesktop {
      padding-bottom: 92px;
    }
  }
}
