.header {
  box-sizing: border-box;
  background-image: url(../images/header-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onTablet {
    background-image: url(../images/header-bg-tablet.png);
  }

  @include onDesktop {
    background-image: url(../images/header-bg-desktop.png);
    position: relative; // establish positioning context for precise title placement
  }

  &__title {
  margin: 0;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  color: $main-text-color;
  max-width: 280px;

    @include onTablet {
      font-size: 48px;
      max-width: 392px;
    }

    @include onDesktop {
      font-size: 56px;
      max-width: 498px;
    }
  }

  &__bottom {
    padding: 48px;
    @include contentPaddingInline;

    @include onTablet {
      padding-bottom: 96px;
    }
        @include onDesktop {
      padding: 0;
      position: absolute;
      top: 516px; // exact top offset from mockup
      left: 120px; // matches desktop content padding
    }
  }
}
