.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include hover (transform, scale(1.2));

    @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url("../icons/icon-phone-mobile.png");

    @include onTablet {
      background-image: url("../icons/icon-phone-desktop.png");
    }
  }

  &--menu {
    background-image: url("../icons/icon-menu-mobile.png");

    &:hover {
      background-image: url("../icons/icon-menu-hover.png");
    }

    @include onTablet {
      background-image: url("../icons/icon-menu-desktop.png");
    }
  }

  &--close {
    background-image: url("../icons/icon-close-mobile.png");

    @include onTablet {
      background-image: url("../icons/icon-close-desktop.png");
    }
  }
}
