.main-section {
  display: flex;
  flex-direction: column;

  &__recommended {
    padding-top: 64px;
    @include contentPaddingInline;

    @include onTablet {
      padding-top: 120px;
    }
}

  &__products {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }

    @include onDesktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      row-gap: 0;
    }
  }

  &__categories {
    padding-top: 96px;
    @include contentPaddingInline;

    @include onTablet {
      padding-top: 120px;
    }

    @include onDesktop {
      padding-top: 128px;
    }
  }

  &__about-us {
    padding-top: 48px;
    @include contentPaddingInline;

    @include onTablet {
      padding-top: 56px;
    }
  }

  &__contacts {
    margin-top: 104px;
    padding-bottom: 64px;
    @include contentPaddingInline;

    @include onTablet {
    margin-top: 120px;
    padding-bottom: 120px;
    }
  }
}
