.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #e5e6e8;
  font-weight: 700;
  text-transform: capitalize;

  &__nav {
    margin-bottom: 48px;
  }

  &__top {
    margin-bottom: 32px;
  }

  &__content {
    @include contentPaddingInline;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
  }

  &__call-to-order {
    display: inline-block;
    width: fit-content;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid $main-text-color;
    color: inherit;
    text-decoration: none;

    @include hover(border-bottom-color, transparent);
  }
}
