.product {
  display: flex;
  flex-direction: column;
  text-align: left;

  &__photo {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    display: block;
    margin-bottom: 16px;
  }

  &__title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
    margin-bottom: 12px;
    letter-spacing: 0;
  }

  &__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
    letter-spacing: 0;
  }
}
