.product {
  display: flex;
  flex-direction: column;
  text-align: left;

  &__photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    object-fit: cover;
    display: block;
    margin-bottom: 16px;

    @include onTablet {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: $main-text-color;

    @include onTablet {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 140%;
    color: $main-text-color;
    letter-spacing: 0;

    @include onTablet {
      font-size: 16px;
    }
  }

  &__price {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
    letter-spacing: 0;
  }
}
