.section-divider {
  width: 100%;
  height: 200px;
  margin-top: 96px;
  background-image: url(../images/section-divider.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    height: 400px;
    margin-top: 120px;
  }

  @include onDesktop {
    height: 526px;
  }
}

