.top-bar {
  padding-block: 20px;
  @include contentPaddingInline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 72px;
  }

    @include onDesktop {
    padding-block: 120px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    
    @include onTablet {
      gap: 32px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include hover (transform, scale(1.2));

    @include onTablet {
      height: 24px;
    }
  }
}
