@import './utils/variables.scss';
@import './utils/mixins';

@import './blocks/header';
@import './blocks/icon';
@import './blocks/menu';
@import './blocks/nav';
@import './blocks/page';
@import './blocks/top-bar';
@import './blocks/section-title';
@import './blocks/main-section';
@import './blocks/products';
@import './blocks/categories';
@import './blocks/section-divider';
@import './blocks/about-us';
@import './blocks/contacts';
