@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 24px; // mobile

  @include onTablet {
    padding-inline: 72px; // tablet
  }

  @include onDesktop {
    padding-inline: 120px; // desktop
  }
}

@mixin hover ($property, $toValue){
  transition: #{$property} 0.3s;
    &:hover {
      #{$property}: $toValue;
    }
}
